.input-div {
  background: #1d1d1d;
  color: rgb(255, 255, 255);
  display: flex;
  width: fit-content;
  padding: 15px;
  border-radius: 40px;
}

.input-div input {
  background: transparent;
  border: 0;
  margin: 0 26px 0 16px;
  color: white;
}
.input-div button {
  border-radius: 43px;
  background: #e3b748;
  border: 0;
  padding: 6px;
}

.hero-content {
  width: 400px;
  display: flex;
  flex-flow: column;
  gap: 36px;
}

.user-img {
  position: absolute;
  object-fit: cover;
  height: 550px;
  bottom: 0%;
}
